appdirs==1.4.4
asgiref==3.9.1
atomicwrites==1.4.0
bs4==0.0.2
Django==5.1.2
django-cors-headers==4.9.0
fqdn==1.5.1
gunicorn==26.0.0
isoduration==20.11.0
jsonpointer==2.1
lab==8.5
matplotlib==3.9.2
protobuf==4.25.3
pyasn1-modules==0.2.8
pygame==2.6.1
PyQt5==5.15.10
PyQtWebEngine==5.15.6
setuptools==75.1.0
simplejson==3.20.2
sqlparse==0.5.3
txt2tags==3.9
uri-template==1.3.0
webcolors==24.11.1
wheel==0.44.0